@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/home.css" rel="stylesheet" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="bgimg-1 w3-display-container" id="home">

    <div id="slogan" class="w3-display-middle w3-center" ">
        <span class="w3-center 2 w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity"><i>WE KNOW EVERYTHING ABOUT LUCK!</i></span>
    </div>
    <div id="game-button" class="w3-display-bottommiddle w3-text-white">
        <p><a href="game" class="w3-button w3-round-xxlarge w3-red w3-padding-large w3-large w3-hover-white">Try your fortune now!</a></p>
    </div>
</div>

<div class="container index-info">
    <div class="row">
        <div class="col-md-4 col-md-offset-1">
            <h3>Get in the game at Bede Slots!</h3>
            <p>
                All your favorite games are right here with some of the best payouts.
                Bede slots offers a huge range of innovative and modern slots,
                as well as traditional fruit-style slot machine games.
            </p>
            <p>
                Gaming at Bede Slots is easy.
                Register your gambling account and make your first deposit!
                Then you can play all your favourite games.
                What are you waiting for, head to the Games section and spin the reels!
            </p>
            <p class=" font-weight-light">
                We encourage <strong>responsible gambling</strong> and support <a href="https://www.gamcare.org.uk/"><strong><i>GamCare</i></strong></a>.
            </p> (edited)
        </div>
        <div class="col-md-4 col-md-offset-2">
            <h3 class="text-center">About us</h3>
            <p class=" font-weight-light ">
                <strong>Marto&Viki Enterprises</strong> (Gibraltar) Limited is 
                incorporated in Gibraltar, which is part of the European Union.
            </p>
            <p class=" font-weight-light">
                <strong>M&V Holdings</strong> is licensed to offer online gaming services
                by the Government of Gibraltar (License Number 022), regulated by
                the Gibraltar Gambling Commissioner.
            </p>

            <p class=" font-weight-light ">
                Our services in European Single Market member states 
                (except for states in which our services are provided under a local license)
                are operated by <strong>Virtual Digital Services Limited</strong>.
            </p>
        </div>
    </div>
</div>

