@model BedeSlots.Web.Models.UserBalanceViewModel

@{
    ViewData["Title"] = "Default";
}

<ul class="nav navbar-nav navbar-right">
    <li>
        <a>Balance: @Model.Balance $</a>
    </li>
</ul>


