@model SelectCardViewModel
@{
    ViewData["Title"] = "Default";
}

<div class="well form-group">
    <label asp-for="@Model.CardsList" class="control-label"></label>
    <select asp-for="@Model.BankCardId" onchange ="onFormSelected(this.value)" asp-items="@Model.CardsList" class="form-control" id="select-card" ></select>
    <span asp-validation-for="@Model.BankCardId" class="text-danger"></span>
</div>