
@{
    ViewData["Title"] = "NotFound";
}

<div>
    <img class="img-responsive img-rounded" width="50%" src="~/images/404.jpg" alt="Not found" />
    <h1 class="text-info text-center">The page you are looking for was not found.</h1>
</div>
