@model GameSlotViewModel
@inject IJsonHelper Json;

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/game.css" rel="stylesheet" />

<h1>Slot Machine</h1>
<div class="content">
    <div id="partial">
        <partial name="_GameSlotPartial" model="@Model" />
    </div>

    @*<form id="spin-form" method="post" asp-controller="Game" asp-action="Spin">*@
    <form id="spin-form">

        <div class="form-group col-m-4">
            <label asp-for="Money" class="control-label"></label>
            <input asp-for="Money" class="form-control" id="data" />
            <span asp-validation-for="Money" class="text-danger"></span>
        </div>

        <input type="submit" id="spin-button" value="Spin">
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
@*<script src="~/js/game.js"></script>*@
<script>
    $("#spin-form").submit(function (event) {
        event.preventDefault();
        const $spinForm = $("spin-form");
        const dataToSend = $spinForm.serialize();
        const data = $("#data").serialize();

        //TODO: dataToSend is empty???
        console.log(dataToSend);

        $.ajax({
            url: "/Game/Spin",
            type: "Get",
            data: data,
            success: function (partialViewResult) {
                $("#partial").empty();
                $("#partial").html(partialViewResult);
            },
            error: function (arg, data, value) {
                console.log(arg + data + value);
            }
        })
    });

    //TODO: cant run with post method, if asp-action and controller - partialView in new page

    //$(function () {
    //    const $commentForm = $('#spin-form');

    //    $commentForm.on('submit', function (event) {
    //        event.preventDefault();

    //        const dataToSend = $commentForm.serialize();

    //        $.post($commentForm.attr('action'), dataToSend, function (partialViewResult) {
    //            $("#partial").empty();
    //            $("#partial").html(partialViewResult);
    //        });
    //    });
    //});
</script>